build*
.*.swp
RELEASE-VERSION
dist
tmp
pyamgcl.egg-info
__pycache__
/debug/
.project
.cproject
.pydevproject
.sync.ffs_db
*.bundle
**/CMakeFiles
**/Makefile
**/cmake_install.cmake
**/CMakeCache.txt
lib/*.a
cmake/amgcl-config.cmake
cmake/amgcl-targets.cmake
examples/*.cu
examples/mpi/*.cu
examples/mixed_precision_vexcl_cuda
examples/mixed_precision_vexcl_jit
examples/mpi/mpi_amg
examples/mpi/mpi_amg_vexcl_cl
examples/mpi/mpi_amg_vexcl_comp
examples/mpi/mpi_amg_vexcl_cuda
examples/mpi/mpi_amg_vexcl_jit
examples/mpi/test_spmm
examples/mpi/test_transpose
