language: cpp
compiler:
    - gcc
    - clang
before_install:
    - sudo apt-get update -qq
    - sudo apt-get install -qq libboost-chrono1.48-dev libboost-date-time1.48-dev libboost-serialization1.48-dev libboost-system1.48-dev libboost-thread1.48-dev libboost-program-options1.48-dev
script: mkdir -p build && (cd build && cmake .. && make)
