language: cpp
compiler:
    - clang
before_install:
    - sudo apt-get update -qq
    - sudo apt-get install -qq libboost-chrono1.48-dev libboost-date-time1.48-dev libboost-system1.48-dev libboost-program-options1.48-dev libboost-test1.48-dev python-yaml lcov
    - gem install coveralls-lcov
script:
    - mkdir -p build && cd build
    - cmake -DTEST_COVERAGE=ON -DCMAKE_BUILD_TYPE=Release ..
    - make && ctest --output-on-failure
after_success:
    - lcov --directory tests --base-directory ../amgcl --capture --output-file coverage.info
    - lcov --remove coverage.info '/usr*' -o coverage.info
    - cd .. && coveralls-lcov build/coverage.info
